.loginForm{
    background-color: #fff6e7;
    /* height: 300px; */
    grid-row: auto;
    border-radius: 15px;
    text-align: left;
    padding: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.402);

    display: grid;
    gap: 10px;

}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}